<world name="wine_world">

  <include filename="../../urdf/robots/sdh.urdf" model_name="sdh"/> 


  <include filename="../../urdf/LWA4_table.urdf" model_name="table"/>
  <include filename="../../urdf/graspTests/book.urdf" model_name="book"/>

  <entity model="sdh" name="leftHand">
    <origin xyz="0.6 -0.6625 +1.23" rpy="0 0 0"/>
  </entity>

  <entity model="book" name="book">
    <origin xyz="0.70 -0.40 0.73" rpy="0 0 0"/>
  </entity>


</world>
