<world name="lwa4d_sdh_world">

  <include filename="../urdf/robots/lwa4d_sdh.urdf" model_name="lwa4d"/> 
   <include filename="../urdf/dualBase.urdf" model_name="dualBase"/> 
  <include filename="../urdf/steelTable1.urdf" model_name="table"/>
  <include filename="../urdf/bicolorRod.urdf" model_name="rod"/>
  <include filename="../urdf/rodSupport.urdf" model_name="support"/>
  <include filename="../urdf/rodPad.urdf" model_name="pad"/>

  <entity model="dualBase" name="dualBase">
    <origin xyz="0.0 0.0 +0.61" rpy="+0 0 0"/>
  </entity>

  <entity model="lwa4d" name="leftArm">
    <origin xyz="0.0 -0.1 +1.2" rpy="+1.57 0 0"/>
  </entity>

<!--  <entity model="lwa4d" name="rightArm">
    <origin xyz="0.0 +0.1 +1.2" rpy="-1.57 0 0"/>
  </entity> -->

  <entity model="rod" name="rod">
    <!--<origin xyz="0.77 -0.25 1.10" rpy="+1.57 0 0"/>-->
    <origin xyz="0.45 0.11 1.24" rpy="+1.57 0 0"/>
  </entity>

  <entity model="support" name="support">
    <origin xyz="0.75 -0.25 0.92" rpy="+0 0 +1.57"/>
  </entity>

  <entity model="pad" name="pad">
    <origin xyz="0.75 -0.60 0.92" rpy="+0 0 +0"/>
  </entity>

  <entity model="table" name="table_1">
    <origin xyz="0.5 -0.20 0.91" rpy="0 0 1.57"/>
  </entity>

</world>
