<world name="wheelPivot_left_world">

  <include filename="../urdf/wheelPivot_left.urdf" model_name="wheelPivot"/>
  <include filename="../urdf/bjurstaTable.urdf" model_name="table"/>
  <include filename="../urdf/clutch_container.urdf" model_name="container"/>
  <include filename="../urdf/sdh.urdf" model_name="sdh"/>

  <entity model="wheelPivot" name="wheelPivot">
    <origin xyz="0 0.2 0.82" rpy="1.57 0 0"/>
  </entity>

  <entity model="table" name="table_1">
    <origin xyz="-0.70 -0.50 0.02" rpy="0 0 0"/>
  </entity>

  <entity model="container" name="container_1">
    <origin xyz="0.61 0.03 0.77" rpy="0 0 1.57"/>
  </entity>

  <entity model="sdh" name="sdh">
    <origin xyz="0.75 0.03 1.30" rpy="-3.1416 0 0"/>
  </entity>

</world>
