<world name="hubo_bimanual_world">

  <include filename="../../robots/hubo/urdf/huboWithNoArms.urdf" model_name="huboBody"/> 
  <include filename="../../robots/hubo/urdf/huboLeftArm.urdf" model_name="huboLeftArm"/> 
  <include filename="../../robots/hubo/urdf/huboRightArm.urdf" model_name="huboRightArm"/> 

  <include filename="../../robots/hubo/urdf/huboLeftHand.urdf" model_name="huboLeftHand"/> 
  <include filename="../../robots/hubo/urdf/huboRightHand.urdf" model_name="huboRightHand"/> 

  <entity model="huboBody" name="huboBody">
    <origin xyz="0.0 0.0 0.98" rpy="0 0 0"/>
  </entity>

  <entity model="huboLeftArm" name="huboLeftArm">
    <origin xyz="0.0 0.0 0.984" rpy="0 0 0"/>
  </entity>

  <entity model="huboRightArm" name="huboRightArm">
    <origin xyz="0.0 0.0 0.984" rpy="0 0 0"/>
  </entity>

  <entity model="huboLeftHand" name="huboLeftHand">
    <origin xyz="0.0 0.23 0.54" rpy="0 0 0"/>
  </entity>

  <entity model="huboRightHand" name="huboRightHand">
    <origin xyz="0.0 -0.23 0.54" rpy="0 0 0"/>
  </entity>


</world>
