<world name="hubo_grasPrim_test_world">

  <!-- Hubo -->
  <include filename="../../robots/hubo/urdf/huboLeftHand.urdf" model_name="huboLeftHand"/> 
  <include filename="../../robots/hubo/urdf/huboRightHand.urdf" model_name="huboRightHand"/> 


  <!-- Table and objects on top -->
  <include filename="../../objects/LWA4_table/urdf/LWA4_table.urdf" model_name="table"/>

  <include filename="../../objects/book/urdf/book.urdf" model_name="book"/>
  <include filename="../../objects/tetrapak/urdf/tetrapak.urdf" model_name="tetrapak"/>
  <include filename="../../objects/kitchenUtensils/urdf/green_cup.urdf" model_name="cup"/>
  <include filename="../../objects/tools/urdf/Hammer.urdf" model_name="hammer"/>
  <include filename="../../objects/kitchenUtensils/urdf/dogJar.urdf" model_name="jar"/>
  <!-- <include filename="../../objects/wineBottle_1/urdf/wineBottle_1.urdf" model_name="bottle"/> -->

  <!-- Hubo hands in world -->
  <entity model="huboLeftHand" name="huboLeftHand">
    <origin xyz="1.18 0.50 1.20" rpy="0 0 0"/>
  </entity>

  <entity model="huboRightHand" name="huboRightHand">
    <origin xyz="1.18 -0.50 1.20" rpy="0 0 0"/>
  </entity>



  <!-- Table -->
 <entity model="table" name="table_1">
    <origin xyz="0.20 -0.91 0.02" rpy="0 0 0"/>
  </entity>

  <!-- Objects -->
 <entity model="book" name="book">
    <origin xyz="0.20 -0.50 1.25" rpy="0 0 0"/>
  </entity>

 <entity model="tetrapak" name="tetrapak">
    <origin xyz="0.20 0.0 1.25" rpy="0 0 0"/>
  </entity>

 <entity model="cup" name="cup">
    <origin xyz="0.20 0.50 1.25" rpy="0 0 0"/>
  </entity>

 <entity model="hammer" name="hammer">
    <origin xyz="0.80 0.50 1.25" rpy="0 0 0"/>
  </entity>

 <entity model="jar" name="jar">
    <origin xyz="0.80 0.0 1.25" rpy="0 0 0"/>
  </entity>

</world>
