<world name="boldCubes_world">

  <include filename="../urdf/boldCube_01.urdf" model_name="boldCube"/>
  <include filename="../urdf/steelTable1.urdf" model_name="table"/>

  <include filename="../urdf/toolBox.urdf" model_name="toolBox"/>
  <include filename="../urdf/bandejaChanfradaPalha.urdf" model_name="tray"/>
  <include filename="../urdf/conveyor1.urdf" model_name="conveyor"/>

  <include filename="../urdf/robots/sdh.urdf" model_name="sdh"/>

  <entity model="boldCube" name="boldCube_1">
    <origin xyz="0 -0.13 0.97" rpy="0 0 -0.76"/>
  </entity>

  <entity model="boldCube" name="boldCube_2">
    <origin xyz="0.61 0.03 0.97" rpy="0 0 0.76"/>
  </entity>

  <entity model="boldCube" name="boldCube_3">
    <origin xyz="0.27 0.00 0.97" rpy="0 1.57 0.0"/>
  </entity>

  <entity model="tray" name="tray">
    <origin xyz="-0.45 0.0 0.96" rpy="0 0 1.57"/>
  </entity>

  <entity model="toolBox" name="toolbox">
    <origin xyz="0.90 0.10 0.90" rpy="0 0 1.0"/>
  </entity>

  <entity model="table" name="table_1">
    <origin xyz="0.0 0.0 0.90" rpy="0 0 0"/>
  </entity>

  <entity model="conveyor" name="conveyor">
    <origin xyz="-1.20 0.27 0.67" rpy="0 0 1.57"/>
  </entity>

  <entity model="sdh" name="sdh">
    <origin xyz="0.75 0.03 1.30" rpy="-3.1416 0 0"/>
  </entity>

</world> 91.20
