<!-- golems_grasp_v3 -->
<!-- Grasp a SQ object (generated online) and put it in a relative goal pose. Start and goal will be shown with markers  -->
<!-- author: A. Huaman Quispe -->
<!-- date: 2015/03/02 -->

<world name="golems_grasp_v3">

<!---------------->
<!-- URDF FILES -->
<!---------------->

<!-- Crichton -->
<include filename="../../robots/lwa4d/urdf/lwa4d_left_phys_quick.urdf" model_name="lwa4d_left"/>
<include filename="../../robots/lwa4d/urdf/lwa4d_right_phys_quick.urdf" model_name="lwa4d_right"/>
<include filename="../../robots/sdh/urdf/sdh_quick.urdf" model_name="sdh"/>
<include filename="../../objects/LWA4_table/urdf/LWA4_verticalSupport.urdf" model_name="base"/>
<include filename="../../objects/LWA4_table/urdf/LWA4_middleSupport_mod.urdf" model_name="mid"/>

<include filename="../../objects/kinect/urdf/kinect.urdf" model_name="kinect"/>

<!-- Table -->
<!--<include filename="../../objects/LWA4_table/urdf/table_alone.urdf" model_name="table"/>-->
<include filename="../../objects/LWA4_table/urdf/LWA4_table_wall_MARKER.urdf" model_name="table"/>

<!-- Goal /Start Markers -->
<include filename="goal.urdf" model_name="goal"/>
<include filename="start.urdf" model_name="start"/>


<!---------------->
<!-- ELEMENTS   -->
<!---------------->

<!-- Crichton -->
<entity model="base" name="base">
<origin xyz="-0.45 -0.45 0.01" rpy="+0 0 0"/>
</entity>
<entity model="mid" name="mid">
<origin xyz="0.01 0.01 1.23" rpy="0 0 0"/>
</entity>
<entity model="lwa4d_left" name="crichtonLeftArm">
<origin xyz="0.0 0.0 +1.23" rpy="0 0 0"/>
</entity>
<entity model="lwa4d_right" name="crichtonRightArm">
<origin xyz="0.0 0.0 +1.23" rpy="0 0 3.14157"/>
</entity>
<entity model="sdh" name="crichtonLeftHand">
<origin xyz="0.6 0.6625 +3.0" rpy="0 0 0"/>
</entity>
<entity model="sdh" name="crichtonRightHand">
<origin xyz="0.6 -0.6625 +3.0" rpy="0 0 0"/>
</entity>

<entity model="kinect" name="kinect">
<origin xyz="0.01 0.00 1.33" rpy="1.5708 0 1.5708"/>
</entity>

<!-- Table -->
<entity model="table" name="table">
<origin xyz="0.7874 0.1016 0.66" rpy="0 0 0"/>
</entity>

<!-- Goal -->
<entity model="goal" name="goal">
<origin xyz="0.5 0.5 0.67" rpy="0 0 0"/>
</entity>
<!-- Start -->
<entity model="start" name="start">
<origin xyz="0.5 -0.1 0.67" rpy="0 0 0"/>
</entity>

</world>
