<world name="pivot1000_world">

  <include filename="../../urdf/DEMO/rubberobturator.urdf" model_name="wheelPivot"/>
  <include filename="../../urdf/steelTable1.urdf" model_name="table"/>
  <include filename="../../urdf/clutch_container.urdf" model_name="container"/>
  <include filename="../../urdf/robots/sdh.urdf" model_name="sdh"/>
  <include filename="../../urdf/redBall.urdf" model_name="ball"/>

  <entity model="wheelPivot" name="wheelPivot">
    <origin xyz="0 0.0 0.970" rpy="0 0 0"/>
  </entity>

  <entity model="ball" name="ball">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </entity>

  <entity model="table" name="table_1">
    <origin xyz="0 0 0.9" rpy="0 0 1.57"/>
  </entity>

  <entity model="sdh" name="sdh">
    <origin xyz="0 0 1.2" rpy="3.1416 0 0"/>
  </entity>

</world>
