<!-- iros_teaser3 -->
<!-- Put pringles' contents in a bowl -->
<!-- author: A. Huaman Quispe -->
<!-- date: 2015/02/28 -->
<world name="iros_teaser3">

<!-- Crichton urdf -->
<include filename="../../robots/lwa4d/urdf/lwa4d_left_phys_quick.urdf" model_name="lwa4d_left"/>
<include filename="../../robots/lwa4d/urdf/lwa4d_right_phys_quick.urdf" model_name="lwa4d_right"/>
<include filename="../../robots/sdh/urdf/sdh_quick.urdf" model_name="sdh"/>
<include filename="../../objects/LWA4_table/urdf/LWA4_verticalSupport.urdf" model_name="base"/>
<include filename="../../objects/LWA4_table/urdf/LWA4_middleSupport_mod.urdf" model_name="mid"/>
<!-- Table -->
<include filename="../../objects/LWA4_table/urdf/table_alone.urdf" model_name="table"/>

<!-- Goal /Start urdf -->
<include filename="goal.urdf" model_name="goal"/>
<include filename="start.urdf" model_name="start"/>

<!-- Box urdf -->
<include filename="../../objects/bowl/urdf/bowl.urdf" model_name="bowl"/>

<!-- Pringles urdf -->
<include filename="../../objects/pringles/urdf/pringles.urdf" model_name="target"/>


<!-- Crichton -->
<entity model="base" name="base">
<origin xyz="-0.45 -0.45 0.01" rpy="+0 0 0"/>
</entity>
<entity model="mid" name="mid">
<origin xyz="0.01 0.01 1.23" rpy="0 0 0"/>
</entity>
<entity model="lwa4d_left" name="crichtonLeftArm">
<origin xyz="0.0 0.0 +1.23" rpy="0 0 0"/>
</entity>
<entity model="lwa4d_right" name="crichtonRightArm">
<origin xyz="0.0 0.0 +1.23" rpy="0 0 3.14157"/>
</entity>
<entity model="sdh" name="crichtonLeftHand">
<origin xyz="0.6 0.6625 +3.0" rpy="0 0 0"/>
</entity>
<entity model="sdh" name="crichtonRightHand">
<origin xyz="0.6 -0.6625 +3.0" rpy="0 0 0"/>
</entity>

<!-- Goal -->
<entity model="goal" name="goal">
<origin xyz="0.5 0.5 0.77" rpy="0 0 0"/>
</entity>

<!-- Start -->
<entity model="start" name="start">
<origin xyz="0.5 -0.5 0.77" rpy="0 0 0"/>
</entity>

<!-- Pringles -->
<entity model="target" name="target">
<origin xyz="0.50 0.70 0.77" rpy="0 0 0"/>
</entity>

<!-- Bowl -->
<entity model="bowl" name="bowl">
<origin xyz="0.45 0.0 0.77" rpy="0 0 0"/>
</entity>

<!-- Table -->
<entity model="table" name="table">
<origin xyz="0.40 0.0 0.01" rpy="0 0 0"/>
</entity>
</world>


