<!-- Benchmarks: golems_grasp_v0 -->
<!-- author: A. Huaman Quispe -->
<!-- date: 2015/01/02 -->
<world name="golems_grasp_v0">

  <!-- Crichton urdf -->
  <include filename="../../robots/lwa4d/urdf/lwa4d_left_phys_box.urdf" model_name="lwa4d_left"/> 
  <include filename="../../robots/lwa4d/urdf/lwa4d_right_phys_box.urdf" model_name="lwa4d_right"/> 
<!--  <include filename="../../robots/sdh/urdf/sdh_scaled_1_6.urdf" model_name="sdh"/> -->
  <include filename="../../robots/sdh/urdf/sdh.urdf" model_name="sdh"/> 

  <include filename="../../objects/LWA4_table/urdf/LWA4_verticalSupport.urdf" model_name="base"/>
  <include filename="../../objects/LWA4_table/urdf/LWA4_middleSupport_mod.urdf" model_name="mid"/> 

  <!-- Objecs -->
     <include filename="../../objects/utils/urdf/yellow_ball.urdf" model_name="ball"/> 
     <include filename="../../objects/utils/urdf/yellow_cylinder.urdf" model_name="cylinder"/> 
     <include filename="../../objects/utils/urdf/yellow_box.urdf" model_name="box"/> 

     <include filename="../../objects/cups/urdf/blueCup.urdf" model_name="cup"/> 

  <!-- Table urdf -->
  <include filename="../../objects/LWA4_table/urdf/table_alone.urdf" model_name="table"/>

  <!-- Crichton -->
  <entity model="base" name="base">
    <origin xyz="-0.45 -0.45 0.01" rpy="+0 0 0"/>
  </entity>

  <entity model="mid" name="mid">
    <origin xyz="0.01 0.01 1.23" rpy="0 0 0"/>
  </entity>

  <entity model="lwa4d_left" name="crichtonLeftArm">
    <origin xyz="0.0 0.0 +1.23" rpy="0 0 0"/>
  </entity>

  <entity model="lwa4d_right" name="crichtonRightArm">
    <origin xyz="0.0 0.0 +1.23" rpy="0 0 3.14157"/>
  </entity>

  <entity model="sdh" name="crichtonLeftHand">
    <origin xyz="0.6 0.6625 +3.0" rpy="0 0 0"/>
  </entity>

  <entity model="sdh" name="crichtonRightHand">
    <origin xyz="0.6 -0.6625 +3.0" rpy="0 0 0"/>
  </entity>


  <!-- Balls -->
  <entity model="ball" name="ball">
    <origin xyz="0.7 -0.2 0.9" rpy="0 0 0"/>
  </entity>

  <entity model="cylinder" name="cylinder">
    <origin xyz="0.5 0.5 0.80" rpy="0 0 0"/>
  </entity>

<!--  <entity model="box" name="box">
    <origin xyz="0.5 0.3 0.8" rpy="0 0 0"/>
  </entity> -->

  <entity model="cup" name="cup">
    <origin xyz="0.5 0.3 0.8" rpy="0 0 0"/>
  </entity>

  <!-- Table -->
 <entity model="table" name="table">
    <origin xyz="0.5 0.1016 0.0" rpy="0 0 0"/>
  </entity>


</world>
