<world name="allObjects_world">

  <include filename="../../urdf/robots/lwa4d.urdf" model_name="lwa4d"/> 
  <include filename="../../urdf/robots/sdh.urdf" model_name="sdh"/> 

  <include filename="../../urdf/LWA4_verticalSupport.urdf" model_name="base"/>
  <include filename="../../urdf/LWA4_middleSupport.urdf" model_name="mid"/> 

  <entity model="base" name="base">
    <origin xyz="-0.45 -0.45 0.01" rpy="+0 0 0"/>
  </entity>

  <entity model="mid" name="mid">
    <origin xyz="0.01 0.01 0.95" rpy="0 0 0"/>
  </entity>


  <entity model="lwa4d" name="leftArm">
    <origin xyz="0.0 -0.0375 +1.23" rpy="+1.57 0 0"/>
  </entity>

  <entity model="sdh" name="leftHand">
    <origin xyz="0.6 -0.6625 +1.23" rpy="0 0 0"/>
  </entity>

  <entity model="lwa4d" name="rightArm">
    <origin xyz="0.0 0.0375 +1.23" rpy="-1.57 0 0"/>
  </entity>

  <entity model="sdh" name="rightHand">
    <origin xyz="0.6 0.6625 +1.23" rpy="0 0 0"/>
  </entity>




</world>
